@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Oldenburg');

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  40px; }
.right-addon input { padding-right: 40px; }

 